<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Controle de Estoque</h1>

    <table>

        <tr>
            <th>Defensivo</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Validade</th>
        </tr>

        <tr>
            <td>Exemplo</td>
            <td>Exemplo</td>
            <td>100</td>
            <td>Litros</td>
            <td>20/12/2026</td>
        </tr>

    </table>

    <a href="/">Voltar</a>

</body>
</html>