<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroControle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>AgroControle</h1>
        <p>Controle de Estoque de Defensivos e Rastreabilidade Ambiental</p>
    </header>

    <main>
        <h2>Menu principal</h2>

        <a href="/cadastro">Cadastro de Defensivos</a>
        <a href="/estoque">Controle de Estoque</a>
        <a href="/rastreabilidade">Rastreabilidade Ambiental</a>
    </main>

</body>
</html>