<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AgroControle</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>AgroControle</h1>

    <h2>Defensivos e Rastreabilidade Ambiental</h2>

    <p>
        Sistema para controle de estoque de defensivos
        agrícolas e rastreabilidade das aplicações.
    </p>

    <hr>

    <h2>Registro de aplicação</h2>

    <p>
        Registre a aplicação de defensivos nos talhões,
        acompanhe o estoque e controle o período de carência.
    </p>

    <a href="{{ url_for('rastreabilidade') }}">
        <button>
            Registrar aplicação de defensivo
        </button>
    </a>

</body>

</html>